* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Quicksand, sans-serif;
}

html {
	background-color: #FFFFFF;
}

img {
	width: 175px;
	display: block;
	margin: 2vh auto 1vh;
}

h1 {
	text-align: center;
	font-weight: 400;
	margin: 0 0 3vh;
}

li {
	list-style-type: none;
	border-bottom: solid 1px rgb(225, 230, 225);
	border-left: solid 5px rgb(100, 150, 100);
	background-color: rgba(100, 150, 100, .05);
	padding: 1vh 0;
}

ul li:last-of-type {
	border-bottom: none;
}

h3 {
	text-align: center;
	font-weight: 300;
	font-size: 1.5em;
	color: linear-gradient(to );
}


/* Container styling pulled from BootStrap */

.container{
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}

@media (min-width:576px){
	.container{
		max-width:540px;
	}
}

@media (min-width:768px){
	.container{
		max-width:720px;
	}
}

@media (min-width:992px){
	.container{
		max-width:960px;
	}
	br {
		display: none;
	}
}

@media (min-width:1200px){
	.container{
		max-width:1140px;
	}
}

